@{
    ViewData["Title"] = "EmpleadosAlmacenados";
}

@{
    List<Empleado> favoritos = memoryCache.Get<List<Empleado>>("FAVORITOS");
}

<h1 style="color:fuchsia">Empleados Favoritos</h1>

<p>
    <a asp-controller="Empleados"
       asp-action="SessionEmpleadosV6">
        Volver a almacenar empleados V6
    </a>
</p>
@if(favoritos == null){
    <h2 style="color:red">
        No existen Empleados favoritos
    </h2>
}else{
    <table class="table table-bordered table-warning">
        <thead>
            <tr>
                <th>
                    Apellido
                </th>
                <th>
                    Oficio
                </th>
                <th>
                    Salario
                </th>
                <th>
                    Departamento
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Empleado item in favoritos)
            {
                <tr>
                    <td>
                        @item.Apellido
                    </td>
                    <td>
                        @item.Oficio
                    </td>
                    <td>
                        @item.Salario
                    </td>
                    <td>
                        @item.IdDepartamento
                    </td>
                </tr>
            }
        </tbody>
    </table>
}