@model List<Empleado>

@{
    ViewData["Title"] = "EmpleadosAlmacenados";
}

<h1>EmpleadosAlmacenados</h1>

<p>
    <a asp-controller="Empleados"
       asp-action="SessionEmpleadosV5">
        Volver a almacenar empleados V5
    </a>
</p>
@if (Model != null)
{
    <table class="table table-bordered table-warning">
        <thead>
            <tr>
                <th>
                    Apellido
                </th>
                <th>
                    Oficio
                </th>
                <th>
                    Salario
                </th>
                <th>
                    Departamento
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Empleado item in Model)
            {
                <tr>
                    <td>
                        @item.Apellido
                    </td>
                    <td>
                        @item.Oficio
                    </td>
                    <td>
                        @item.Salario
                    </td>
                    <td>
                        @item.IdDepartamento
                    </td>
                </tr>
            }
        </tbody>
    </table>
}